<div class="scores">
          <ul>
            <li>
              <div class="score">
                <label for="Strengthscore">STR</label>
                <input type='text' value="{{Character_Scores.[0].str}}"name="Strengthscore" placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input type='text' value="{{ get_mod Character_Scores.[0].str}}" name="Strengthmod" placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Dexterityscore">DEX</label>
                <input type='text' value="{{Character_Scores.[0].dex}}" name="Dexterityscore" placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input type='text' value="{{get_mod Character_Scores.[0].dex}}" name="Dexteritymod" placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Constitutionscore">CON</label>
                <input type='text' value="{{Character_Scores.[0].con}}" name="Constitutionscore" placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input type='text' value="{{get_mod Character_Scores.[0].con}}" name="Constitutionmod" placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Intelligencescore">INT</label>
                <input type='text' value="{{Character_Scores.[0].int}}" name="Intelligencescore" placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input type='text' value="{{get_mod Character_Scores.[0].int}}" name="Intelligencemod" placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Wisdomscore">WIS</label>
                <input type='text' value="{{Character_Scores.[0].wis}}" name="Wisdomscore" placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input type='text' value="{{get_mod Character_Scores.[0].wis}}" name="Wisdommod" placeholder="+0" class="statmod"/>
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Charismascore">CHA</label>
                <input type='text' value="{{Character_Scores.[0].cha}}" name="Charismascore" placeholder="10" class="stat"/>
              </div>
              <div class="modifier">
                <input type='text' value="{{get_mod Character_Scores.[0].cha}} "name="Charismamod" placeholder="+0" class="statmod"/>
              </div>
            </li>
          </ul>
        </div>