<div class="skills list-section box">
            <ul>
              <li>
                <label for="Acrobatics">Acrobatics <span class="skill">(Dex)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].dex}}" name="Acrobatics" placeholder="+0" />
                <input type='checkbox' class="proficient" {{checked Character_Skills.[0].acrobatics}} name="Acrobatics-prof" />
              </li>
              <li>
                <label for="Animal Handling">Animal Handling <span class="skill">(Wis)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].wis}}" name="Animal Handling" placeholder="+0" />
                <input type='checkbox' class="proficient" {{checked Character_Skills.[0].animal_handling}} name="Animal Handling-prof" />
              </li>
              <li>
                <label for="Arcana">Arcana <span class="skill">(Int)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].int}}" name="Arcana" placeholder="+0" />
                <input type='checkbox' class="proficient" {{checked Character_Skills.[0].arcana}}  name="Arcana-prof" />
              </li>
              <li>
                <label for="Athletics">Athletics <span class="skill">(Str)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].str}}" name="Athletics" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].athletics}} name="Athletics-prof" />
              </li>
              <li>
                <label for="Deception">Deception <span class="skill">(Cha)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].cha}}" name="Deception" placeholder="+0" />
                <input type="checkbox" class="proficient"  {{checked Character_Skills.[0].deception}} name="Deception-prof" />
              </li>
              <li>
                <label for="History">History <span class="skill">(Int)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].int}}" name="History" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].history}} name="History-prof" />
              </li>
              <li>
                <label for="Insight">Insight <span class="skill">(Wis)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].wis}}"  name="Insight" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].insight}} name="Insight-prof"  />
              </li>
              <li>
                <label for="Intimidation">Intimidation <span class="skill">(Cha)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].cha}}" name="Intimidation" placeholder="+0" />
                <input type='checkbox' class="proficient" {{checked Character_Skills.[0].insight}} name="Intimidation-prof" />
              </li>
              <li>
                <label for="Investigation">Investigation <span class="skill">(Int)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].int}}" name="Investigation" placeholder="+0" />
                <input type="checkbox" class="proficient"  {{checked Character_Skills.[0].investigation}} name="Investigation-prof"/>
              </li>
              <li>
                <label for="Medicine">Medicine <span class="skill">(Wis)</span></label>
                <input  type="text" value="{{get_mod Character_Scores.[0].wis}}" name="Medicine" placeholder="+0" />
                <input  type="checkbox" class="proficient" {{checked Character_Skills.[0].medicine}} name="Medicine-prof" />
              </li>
              <li>
                <label for="Nature">Nature <span class="skill">(Int)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].int}}" name="Nature" placeholder="+0" />
                <input  type="checkbox" class="proficient" {{checked Character_Skills.[0].nature}} name="Nature-prof" />
              </li>
              <li>
                <label for="Perception">Perception <span class="skill">(Wis)</span></label>
                <input type='text' value="{{get_mod Character_Scores.[0].wis}}" name="Perception" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].perception}}  name="Perception-prof" />
              </li>
              <li>
                <label for="Performance">Performance <span class="skill">(Cha)</span></label>
                <input type="text" value="{{get_mod Character_Scores.[0].cha}}" name="Performance" placeholder="+0"/>
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].performance}} name="Performance-prof" />
              </li>
              <li>
                <label for="Persuasion">Persuasion <span class="skill">(Cha)</span></label>
                 <input type="text" value="{{get_mod Character_Scores.[0].cha}}" name="Persuasion" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].persuasion}} name="Persuasion-prof" />
              </li>
              <li>
                <label for="Religion">Religion <span class="skill">(Int)</span></label>
                <input type="text" value="{{get_mod Character_Scores.[0].int}}" name="Religion" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].religion}} name="Religion-prof" />
              </li>
              <li>
                <label for="Sleight of Hand">Sleight of Hand <span class="skill">(Dex)</span></label>
                <input type="text" value="{{get_mod Character_Scores.[0].dex}}" name="Sleight of Hand" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].sleight_of_hand}} name="Sleight of Hand-prof" />
              </li>
              <li>
                <label for="Stealth">Stealth <span class="skill">(Dex)</span></label>
                <input type="text" value="{{get_mod Character_Scores.[0].dex}}" name="Stealth" placeholder="+0"/>
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].stealth}} name="Stealth-prof" />
              </li>
              <li>
                <label for="Survival">Survival <span class="skill">(Wis)</span></label>
                <input type="text" value="{{get_mod Character_Scores.[0].wis}}" name="Survival" placeholder="+0" />
                <input type="checkbox" class="proficient" {{checked Character_Skills.[0].survival}} name="Survival-prof" />
              </li>
            </ul>
            <div class="label">
              Skills
            </div>
          </div>
        </div>
      </section>