
<!-- Imge used for Close and To Sheet buttons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/character-card.css">


{{!-- The character Card --}}
<div id="div-onload-modal" class="modal slideDown">
    <!-- The modal content here -->
    <div class="modal-content">
        
        <section class="modal-header">
            <h2 class="name">{{name}}</h2>    
            <span class="close fa fa-close">
        </section>

        {{!-- CRUD Buttons --}}
        {{#if (eq user_id user_id)}}
            
            <section class="character-crud">
                <a id="character-delete-url" href="/character-sheet/{{id}}" title="View this Character Sheet?">
                    <span class="edit-character fa fa-pencil-square-o"></span>
                </a>
                {{!-- when click, run JS script to delete character if matches pararms --}}
                <a onclick="deleteCharacter({{id}})" title="Delete this Character?">
                    <span class="delete-character fa fa-trash-o"></span>
                </a>

            </section>
        {{/if}}

        {{!-- BODY CONTENT --}}
        <section class="modal-body">
            <div class="character-level-class">
                <span class="level">Level {{player_level}}</span>
                <span class="class">{{class}}</span>
            </div>
            {{!-- IMAGE EVENTUALLY--}}
            <div>
                <img class="character-img" src="../{{image_link}}" alt="{{name}}">
            </div>    
            
            {{!-- UNDER IMAGE --}}
            <div class="character-stats">
                <span class="race">{{race}}</span>
                <span class="spacer"></span>
                <span class="gender">{{gender}}</span>
                <span class="spacer"></span>
                <span class="age">{{age}} years old.</span>
                <span class="spacer"></span>
            </div>
            <div class="character-flavor">
                <span class="alignment">{{alignment}}.</span>
            </div>

            {{!-- Background --}}
            <div class="character-proficiencies">
                {{#if proficiencies}}
                    <span class="proficiencies">{{format_prof proficiencies}}</span>
                {{/if}}
            </div>
            </span>

            
        </section>
        <section class="modal-footer">
            <span>
                {{#if user.username}} Created by {{user.username}} {{/if}}
                {{#if date_created}} on {{date_created}}{{/if}}
        </section>
    </div>
</div>

{{!-- Character-Card specific JS --}}
<script src='../javascript/character-card.js'></script> 