<a href="/character-card/{{id}}">
  <span id="{{id}}" class="character">
    
    {{!-- top bar --}}
    <section class="character-banner">
      <div class="character-name-sheet">
          <span class="name">{{name}}</span>
          {{!-- <a href="/character-sheet/{{id}}"> --}}
            <span class="sheet" title="Open Character Sheet" />
          {{!-- </a> --}}
      </div>
      <div class="character-level-class">
        <span class="level">Level {{player_level}}</span>
        <span class="class">{{class}}</span>
      </div>
    </section>
    {{!-- IMAGE EVENTUALLY--}}
    {{!-- UNDER IMAGE --}}
    <section class="character-stats">
      <span class="race">{{race}}</span>
      <span class="spacer"></span>
      <span class="gender">{{gender}}</span>
      <span class="spacer"></span>
      <span class="age">{{age}} years old.</span>
      <span class="spacer"></span>
    </section>
    <section class="character-flavor">
      <span class="alignment">{{alignment}}.</span>
    </section>


    {{!-- Background --}}

    <section class="character-proficiencies">
      <span class="proficiencies">{{format_prof proficiencies}}</span>
    </section>
  </span>
</a>